main {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--radius);
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      line-height: 1.8;
    }
  }
}
